/* 隐藏已同步的标签页按钮 */
.button-toolbar.synced-tabs-button {
    display: none !important;
}

.tabs-top#browser.win:not(.fullscreen, .disable-titlebar) #header {
    min-height: calc(30px / var(--uiZoomLevel));
}

.tabs-top.address-top#browser.win:not(.fullscreen, .disable-titlebar) #header {
    min-height: calc(30px / var(--uiZoomLevel));
}

.tabs-top:not(.popup, .horizontal-menu)#browser.win .window-buttongroup button {
    height: calc(30px);
}

/* 上下填充 */
.tabs-top.density-on #tabs-tabbar-container:not(:has(#tabs-subcontainer)) {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* 菜单栏边缘 */
.tabs-top.density-on.fullscreen .vivaldi,
.tabs-top.density-on.maximized .vivaldi {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* 面板宽度 */
.density-on #switch {
    flex: 0 0 calc(0px);
    max-width: calc(0px);
}

#panels-container[style] {
    width: 0px !important;
}

.panel-group {
    left: 0px !important;
}